# Eclicpse 
/.settings
/.classpath
/.project

# Don't check in binaries
*.class

# Package Files
*.jar
*.war
*.ear

# Maven Output
/target

# IntelliJ 
.idea
*.iml

.cache
src/main/main.iml

# VSCode
/.vscode
