version: '2'
services:
  postgres:
    image: postgres:9.3

  conjur:
    image: cyberark/conjur:latest
    command: server -a cucumber
    environment:
      CONJUR_ACCOUNT: cucumber
      PORT: 3000
      DATABASE_URL: postgres://postgres@postgres/postgres
      CONJUR_DATA_KEY: "W0BuL8iTr/7QvtjIluJbrb5LDAnmXzmcpxkqihO3dXA="
      RAILS_ENV: development
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  # Create EE container
  cuke-master:
    image: registry.tld/conjur-appliance-cuke-master:5.0-stable
    ports:
      - "9443:443"
      - "5432:5432"
      - "1999:1999"
    security_opt:
      - "seccomp:unconfined"

  conjur-proxy-nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    entrypoint: nginx-debug -g 'daemon off;'
    environment:
      TERM: xterm
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      - conjur
      - client

  client:
    image: cyberark/conjur-cli:5
    volumes:
      - ./test-cert:/test-cert
    entrypoint: sleep
    command: infinity
    environment:
      CONJUR_APPLIANCE_URL:
      CONJUR_ACCOUNT: cucumber
      CONJUR_AUTHN_LOGIN: admin

  test:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - ./target:/conjurinc/api-java/target
    environment:
      CONJUR_APPLIANCE_URL: http://conjur:3000
      CONJUR_ACCOUNT: cucumber
      VERSION:

  # Spin up container for EE testing
  test-dap:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - ./target:/conjurinc/api-java/target
      - ./test-cert:/test-cert
    entrypoint: sleep
    command: infinity
    environment:
      CONJUR_APPLIANCE_URL: https://cuke-master
      CONJUR_ACCOUNT: cucumber
    depends_on:
      - cuke-master

  test-https:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - ./target:/conjurinc/api-java/target
      - ./test-cert:/test-cert
    entrypoint: sleep
    command: infinity
    environment:
      CONJUR_APPLIANCE_URL: https://conjur-proxy-nginx
      CONJUR_ACCOUNT: cucumber
    depends_on:
      - conjur-proxy-nginx
